{% extends "bootstrap/base.html" %}

{% block header %}
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
{% endblock %}


{% block content %}
<div class="page-header">
    <h1>PatternFinder for Schubert</h1>
</div>

<div id="vueapp">Loading Vue.js app...</div>
{% endblock content %}

{% block scripts %}
<script id="searchResponse" type="application/json">{{response | tojson}}</script>
<script id="default_krn" type="application/text">{{default_krn}}</script>

<script src="https://code.jquery.com/jquery-3.3.1.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/vue@2.5.16/dist/vue.min.js"></script>

<script src="http://verovio-script.humdrum.org/scripts/verovio-toolkit.js"></script>
<!--
<script data-main="static/main.js" src="https://cdnjs.cloudflare.com/ajax/libs/require.js/2.3.5/require.js"></script>
<script src="https://verovio.humdrum.org/scripts/ace/mode-humdrum.js"></script>
<script src="https://verovio.humdrum.org/scripts/ace/mode-xml.js"></script>
-->

<script src="https://unpkg.com/vue-infinite-scroll"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/ace/1.3.3/ace.js"></script>
<script src="{{ url_for('static', filename='main.js') }}"></script>
{% endblock scripts %}


